.navbar-bg {
    height: 50px;
    background: #b7dde3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .navbar-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .navbar-text {
    font-weight: 500;
    font-size: 1rem;
  }
  
  .navbar-separator {
    font-size: 1.5rem;
    cursor: default;
  }
  
  .navbar-cart-item-number {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #f44336;
    font-size: 0.8rem;
    padding-top: 0.1rem;
    font-weight: 300;
    margin-left: 0.25rem;
  }
  
  .navbar-cart-icon {
    font-size: 1.25rem;
    color: #384648;
    margin-left: 1.5rem;
  }
  
  .navbar-signup-button {
    color: #ffffff;
    background-color: #384648;
    border-radius: 0.75rem;
    padding: 0.2rem 0.6rem 0.125rem 0.6rem;
    font-weight: 300;
  }
  
  .btn:hover {
    color: #ffffff;
    background-color: #317b86;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .btn-check:focus + .btn,
  .btn:focus {
    box-shadow: none;
  }
  
  .search-bar-bg {
    background-color: #fff9fb;
    padding: 0.75rem 0.75rem;
  }
  
  .search-bar-height {
    height: 100px;
  }
  
  .search-bar-logo {
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
  }
  
  .search-bar-form-control {
    border-radius: 1.5rem;
  }
  
  .form-control:focus {
    border-color: unset;
    box-shadow: unset;
  }
  
  .search-icon {
    background-color: unset;
    border: unset;
    padding: unset;
  }
  
  .menu-text-style,
  .menu-text-style:hover {
    color: #384648;
  }
  
  a:hover {
    color: unset;
  }
  
  @media screen and (max-width: 991px) {
    .navbar-cart-item-number {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0.9rem;
      margin-left: 0.2rem;
      padding-top: 0.15rem;
    }
  
    .navbar-cart-icon {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-cart-item-number {
      width: 0.8rem;
      height: 0.8rem;
      font-weight: 400;
      margin-left: -0.65rem;
      margin-top: -1rem;
      background-color: #f44336;
      font-size: 0.6rem;
      padding-top: 0rem;
    }
  
    .navbar-cart-icon {
      font-size: 1rem;
      margin-left: 1rem;
    }
  
    .navbar-content-margin {
      margin-top: 0.2rem;
    }
  
    .offcanvas-start {
      width: 75%;
      height: 100vh;
    }
  
    .navbar-call-us,
    .navbar-menu {
      display: none;
    }
  
    .offcanvas-menu {
      color: #384648;
    }
  
    a:hover {
      color: unset;
    }
  
    .offcanvas-body {
      padding-top: 0px !important;
    }
  
    .navbar-user-icon {
      font-size: 1rem;
      margin-left: 1.15rem;
      color: #384648;
    }
  
    .navbar-search-icon {
      font-size: 1rem;
      color: #384648;
      padding-top: 0.3rem;
    }
  
    .navbar-search-logo {
      width: 2rem;
      height: 2rem;
      background-color: #ffffff;
    }
  
    .search-bar-logo-padding {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  
    .search-bar-height {
      height: 75px;
    }
  
    button {
      padding: unset !important;
    }
  
    .navbar-bg {
      height: 3.3rem;
      filter: unset;
    }
  }